# Telegram Bot Token
TOKEN_BOT= # Токен тг бота

# Prices in $
PRICE= # Укажите цену в $ за подписку или услугу

# coin api
API= # Апи от Coinmarketcap

# Ключи
PUB_KEY= # Публичный
SEC_KEY= # Секретка

# Admin IDs
ADMINS= # Укажите ID администраторов через запятую (например, 12345678,87654321)

# Days before subscription end notification
DAYS_BEFOR= # Укажите количество дней для уведомления о конце подписки
